# APIが動作するサーバーのURL ポート込みで指定してください
SERVER_URL=http://localhost:3001
# APIが動作するポート すみません。二度手間ですが、指定してください
SERVER_PORT=3001
# URLのプレフィックスです。apiが$SERVER_URL/$SERVER_PREFIXで動作します
SERVER_PREFIX=api

# データベースの設定
DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=password
DATABASE_NAME=library
